

body {
  overflow: hidden;
}


* {
  scrollbar-width: auto;
  scrollbar-color: #dbdbdb #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 4px;
  border: 3px solid #ffffff;
}

.container {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.input-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  width:775PX;
}

.pageTitle input {
  border: none;
  background-color: rgb(223, 223, 223);
  border-radius: 12px;
  text-align: center;
  margin: 4px;
  padding-block: 6px;
}

.pageTitle select {
  background-color: rgb(223, 223, 223);
  border-radius: 12px;
  text-align: center;
  padding-block: 9px;
  border: none;
}

.listItem {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 16px;
  height: 200px;
  border-radius: 4px;
  background-color: #f8f8f8;
  border-top: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listItem:hover {
  background-color: #33333360;
}

.listContainer {
  min-width: 790px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 0.1px solid rgb(236, 236, 236);
  overflow: auto;
  overflow-x: hidden;
  max-height: 570px;
  min-height: 570px;
  border-radius: 8px 8px 0px 0px;
}

.title {
  flex:2;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  flex:8;
}

.info h4 {
  text-align: left;
}

.lower {
  box-shadow: 
  0 1px 1px rgba(0, 0, 0, 0.2),
  0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 
  0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  text-align: left;
  width: 200px;
}

.buyBtn {
  border: none;
  padding: 8px;
  width: 36px;
  border-radius: 8px;
}

.buyBtn:hover {
  transform: scale(1.1);
}

.shoppingCart {
  width: 36px;
  transition: 400ms;
}

.shoppingCart:hover{
  transform: scale(1.1);
}

.slideMenu{
  text-align: center;
  background-color: rgba(158, 158, 158, 0.363);
  position: absolute;
  right: -350px;
  height: 100vh;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  transition: 400ms;
  width: 250px;
}

.slideMenu.active {
  right: -10px;
  transition: 400ms;
}

.slideMenu .listItem {
  font-size: 8px;
  /* min-height: 100px; */
  /* max-height: 2px; */
  width: 300px;
  height: 100px;
}

.slideMenu img {
  z-index: 99;
  position: absolute;
  left: 0px;
  top: calc(50%);
  transform: scaleX(-1);
  cursor: pointer;
}

.slideMenu img:hover {
  transform: scale(1.1)scaleX(-1);
}

.product {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 200px;
  font-size: 10px;
  margin: 0 auto;
  border-bottom: 0.5px solid rgba(92, 91, 91, 0.521);
}

.adminDiv {
  width: calc(100%);
  background-color: #f0f0f0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.237);
}

.adminDiv.false {
  display: none;
}

.dangerBtn.false {
  display: none;
}